<div class="d-print-block">
    <div *ngIf="this.selectedPersonas.length >= 1">
        <div class="grid" style="display: grid;
                justify-items: center;
                text-align: center;
                grid-template-columns: auto auto auto auto;">
            <ng-container *ngFor="let i of selectedPersonas">
                <div style="
                        border-radius: 5px;
                        border-color: black;
                        border-style: solid;
                        background: linear-gradient(#03a9f4, #fff 45%, #03a9f4 45%, #fff 100%);">
                    <h2>{{i.nombre}}</h2>
                    <qrcode [(qrdata)]="i._id" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
                    <h2><bold>{{i.dependencia}}</bold></h2>
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngIf="this.selectedPersonas.length == 0">
        <div class="grid" style="display: grid;
        justify-items: center;
        text-align: center;
        grid-template-columns: auto auto auto auto;">
            <ng-container *ngFor="let i of personas">
                <div style="
                border-radius: 5px;
                border-color: black;
                border-style: solid;
                background: linear-gradient(#03a9f4, #fff 45%, #03a9f4 45%, #fff 100%);">
                    <h2>{{i.nombre}}</h2>
                    <qrcode [(qrdata)]="i._id" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
                    <h2><bold>{{i.dependencia}}</bold></h2>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class=" d-print-none">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img src="/assets/222.png" height="40" class="mr-2" />
        </ng-template>
        <ng-template pTemplate="end">
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value!, 'contains')"
                placeholder="Buscar..." />
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="goTo('0')"></button>
            <button pButton pRipple label="Imprimir" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="Print()"></button>
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel(0)"
                class="p-button-success mx-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        </ng-template>
    </p-menubar>
    <p-table #dt [value]="personas" [rows]="10" [paginator]="true"
        [globalFilterFields]="['nombre','dependencia', 'evento','status']" [(selection)]="selectedPersonas"
        [rowHover]="true" dataKey="_id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">

        <ng-template pTemplate="caption">
            <ng-template [ngIf]="selectedPersonas.length > 0">
                <div class="dcs">
                    <div class="left">
                        <span class="btn btn-light btn-sm me-1">{{ selectedPersonas.length }}</span>
                        <span> elemento{{ selectedPersonas.length > 1 ? 's' : '' }}</span>
                        <span> seleccionado{{ selectedPersonas.length > 1 ? 's' : '' }}</span>
                    </div>
                    <div class="right dcc">
                        <button type="button" class="btn btn-light mx-1" data-toggle="tooltip" data-placement="bottom"
                            title="Eliminar" (click)="deleteselectedPersonas()">
                            <i-feather name="trash"></i-feather>
                        </button>
                        <button type="button" class="btn btn-light mx-1" data-toggle="tooltip" data-placement="bottom"
                            title="Cancelar" (click)="removeSelection()">
                            <i-feather name="x"></i-feather>
                        </button>
                    </div>
                </div>
            </ng-template>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <!-- <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th> -->
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="correo">Correo <p-sortIcon field="correo"></p-sortIcon></th>
                <th pSortableColumn="dependencia">Dependencia <p-sortIcon field="dependencia"></p-sortIcon></th>
                <th pSortableColumn="evento">Evento <p-sortIcon field="evento"></p-sortIcon></th>
                <th pSortableColumn="asistencias">Asistencias <p-sortIcon field="asistenciasn"></p-sortIcon></th>
                <th pSortableColumn="asistencias">Fechas <p-sortIcon field="asistencias"></p-sortIcon></th>
                <th pSortableColumn="status">Estatus <p-sortIcon field="status"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-persona>
            <tr>
                <td>
                    <p-tableCheckbox [value]="persona"></p-tableCheckbox>
                </td>
                <!-- <td>{{persona._id}}</td> -->
                <td clic>{{persona.nombre}}</td>
                <td>{{persona.correo}}</td>
                <td>{{persona.dependencia}}</td>
                <td>{{persona.evento}}</td>
                <td>{{persona.asistencias}} / {{persona.asistencias_requeridas}} </td>
                <td>
                    <div *ngIf="persona.fechas">
                        <div>
                            {{(persona.fechas[0] | date)??''}}
                        </div>
                        <div>
                            {{(persona.fechas[1] | date)??''}}
                        </div>
                        <div>
                            {{(persona.fechas[2] | date)??''}}
                        </div>
                        <div *ngIf="persona.fechas.length>3">...</div>
                    </div>
                </td>

                <td class="position-relative w-0 p-0">
                    <span *ngIf="persona.status === 0" class="badge bg-danger">INACTIVO</span>
                    <span *ngIf="persona.asistencias < persona.asistencias_requeridas"
                        class="badge bg-success">Incompleto</span>
                    <span *ngIf="persona.asistencias == persona.asistencias_requeridas"
                        class="badge bg-success">Completo</span>
                    <span *ngIf="persona.status === 3" class="badge bg-success">Falta</span>
                    <ng-template>

                    </ng-template>
                    <div class="position-absolute actions">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                            routerLink='/participantes-form/{{persona._id}}'></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deletePersona(persona)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>



<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>.

<!-- Toast para el feedback de la acción -->
<p-toast></p-toast>